<!-- <Directory "/var/www/html/assets">
    Order Deny,Allow
    Deny from all
</Directory>

<FilesMatch "\.(css|js|jpg|jpeg|png|gif|svg|webp)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

Options -Indexes -->
