/* ################################################### */
/* -------------------- INIT FONT -------------------- */
/* ################################################### */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* ################################################### */
/* ------------------ RESET STYLES ------------------ */
/* ################################################### */

*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: var(--main-font);
  /* outline: 1px solid red; */
}

:focus {
  outline: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* ################################################### */
/* -------------------- INIT VAR -------------------- */
/* ################################################### */

:root {
  --main-font: "Kanit", sans-serif;
  --blue: #4dafdc;
  --dark-blue: #0e1a28;
  --white: #fff;
}

/* ################################################### */
/* ---------------------- BODY ---------------------- */
/* ################################################### */

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ################################################### */
/* ------------------- TRANSITIONS ------------------- */
/* ################################################### */

/* @-webkit-keyframes fipatech{
}

@keyframes fipatech{
} */

@-webkit-keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ################################################### */
/* ----------------- MAIN CONTAINER ----------------- */
/* ################################################### */

.container-main {
  width: 100vw;
  padding: 0 40px;
  justify-content: flex-start;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

@media only screen and (max-width:991px) {
  .container-main {
    padding: 0 20px;
  }
}

@media only screen and (max-width:767px) {
  .container-main {
    padding: 0 10px;
  }
}

.container-main,
.container-main .landing-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.container-main {
  width: 100vw;
  padding: 0 40px;
  justify-content: flex-start;
  top: 0;
  left: 0;
  position: absolute;
}

.container-main .landing-page {
  width: 100%;
  justify-content: space-between;
}

.container-main .landing-page header,
.container-main .landing-page header nav.menu-normal,
.container-main .landing-page header nav .container-navbar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.container-main .landing-page header:not(.menu-responsive),
.container-main .landing-page header:not(.menu-responsive) nav.menu-normal,
.container-main
  .landing-page
  header:not(.menu-responsive)
  nav
  .container-navbar {
  width: auto;
}

.container-main .landing-page header {
  height: 80px;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}

/* ################################################### */
/* --------------------- MENU PC --------------------- */
/* ################################################### */

.container-main .landing-page header:not(.menu-responsive) nav,
.container-main
  .landing-page
  header:not(.menu-responsive)
  nav
  .container-navbar {
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.container-main .landing-page header nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.container-main .landing-page header:not(.menu-responsive) nav ul {
  flex-direction: row;
}

.container-main .landing-page header:not(.menu-responsive) nav ul.left-nav,
.container-main .landing-page header:not(.menu-responsive) nav ul.right-nav {
  gap: 50px;
}

.container-main .landing-page header:not(.menu-responsive) nav a,
.container-main .landing-page header:not(.menu-responsive) nav ul li {
  color: var(--white);
}

.container-main .landing-page header nav ul li {
  font-family: var(--normal-font);
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.container-main .landing-page header:not(.menu-responsive) nav ul li {
  font-size: 16px;
}

.container-main .landing-page header:not(.menu-responsive) nav img.logo {
  /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
  cursor: pointer;
  width: 80px;
}

.container-main .landing-page header.menu-responsive nav a.logo {
  display: none;
}

.container-main .landing-page header:not(.menu-responsive) nav ul.lang-nav {
  position: absolute;
  right: 40px;
  gap: 10px;
}

.container-main .landing-page header nav ul.lang-nav li:not(.active) a {
  color: #ababa4;
}

/* ################################################### */
/* ---------------- CHANGEMENT LANGUE ---------------- */
/* ################################################### */

.lang-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  position: relative;
  height: 12px;
  overflow: hidden;
  width: 100%;
}

header:not(.header.menu-responsive) ul.container-navbar li.lang-container {
  padding: 0 10px;
}

.lang-text {
  display: inline-block;
  width: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  text-align: center;
}

.lang-fr {
  transform: translateY(0);
  opacity: 1;
}

.lang-en {
  transform: translateY(100%);
  opacity: 0;
  position: absolute;
}

/* ################################################### */
/* ----------------- MENU RESPONSIVE ----------------- */
/* ################################################### */

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

header.menu-responsive .menu-icon:checked + label,
header.menu-responsive .menu-icon:not(:checked) + label {
  position: fixed;
  top: 50px;
  right: 45px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}

header.menu-responsive .menu-icon:checked + label:before,
header.menu-responsive .menu-icon:not(:checked) + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 3px solid #ececee;
  border-bottom: 3px solid #ececee;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

header.menu-responsive .menu-icon:checked + label:after,
header.menu-responsive .menu-icon:not(:checked) + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  z-index: 20;
  top: 10px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease,
    margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

header.menu-responsive .menu-icon:checked + label:before {
  top: 11px;
  transform: rotate(45deg);
  height: 3px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

header.menu-responsive .menu-icon:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav.menu-responsive {
  position: fixed;
  top: 20px;
  right: 20px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--dark-blue);
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

header.menu-responsive .menu-icon:checked ~ nav.menu-responsive {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav.menu-responsive ul:not(.lang-nav) {
  flex-direction: column;
}

nav.menu-responsive ul.lang-nav {
  gap: 50px;
}

nav.menu-responsive ul.container-navbar {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}

nav.menu-responsive ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}

nav.menu-responsive ul.left-nav li.lang-container:nth-child(1) {
  transition-delay: 200ms;
}
nav.menu-responsive ul.left-nav li.lang-container:nth-child(2) {
  transition-delay: 150ms;
}
nav.menu-responsive ul.right-nav li.lang-container:nth-child(1) {
  transition-delay: 100ms;
}
nav.menu-responsive ul.right-nav li.lang-container:nth-child(2) {
  transition-delay: 50ms;
}

nav.menu-responsive ul li a {
  font-family: var(--font-family-am);
  font-size: 6vh;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2;
  font-weight: 800;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}

nav.menu-responsive ul.lang-nav li a {
  font-size: 4vh;
}

header.menu-responsive nav.menu-responsive .lang-container {
  height: 6vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
}

header.menu-responsive nav.menu-responsive .logo {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.03;
  height: 100%;
}

header.menu-responsive nav.menu-responsive .lang-container .lang-en {
  transform: translateY(0);
}

nav.menu-responsive ul li.lang-container a {
  width: auto;
}

nav.menu-responsive ul li.lang-container a:hover {
  text-decoration: none;
  color: var(--blue);
  text-shadow: 1px 1px 0 var(--dark-blue), -1px -1px 0 var(--dark-blue),
    1px -1px 0 var(--dark-blue), -1px 1px 0 var(--dark-blue),
    1px 1px 0 var(--dark-blue);
  letter-spacing: 2px;
}

nav.menu-responsive ul li.lang-container a:after {
  display: block;
  position: absolute;
  top: 50%;
  content: "";
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #e0e6e6;
  opacity: 0.8;
  transition: width 250ms linear;
}

nav.menu-responsive ul li.lang-container a:hover:after {
  width: 100%;
}

header.menu-responsive .menu-icon:checked ~ nav.menu-responsive ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}

.menu-icon:checked
  ~ nav.menu-responsive
  ul.left-nav
  li.lang-container:nth-child(1) {
  transition-delay: 1400ms;
}
.menu-icon:checked
  ~ nav.menu-responsive
  ul.left-nav
  li.lang-container:nth-child(2) {
  transition-delay: 1480ms;
}
.menu-icon:checked
  ~ nav.menu-responsive
  ul.left-nav
  li.lang-container:nth-child(3) {
  transition-delay: 1560ms;
}
.menu-icon:checked
  ~ nav.menu-responsive
  ul.right-nav
  li.lang-container:nth-child(1) {
  transition-delay: 1640ms;
}
.menu-icon:checked
  ~ nav.menu-responsive
  ul.right-nav
  li.lang-container:nth-child(2) {
  transition-delay: 1720ms;
}
.menu-icon:checked
  ~ nav.menu-responsive
  ul.right-nav
  li.lang-container:nth-child(3) {
  transition-delay: 1800ms;
}

.menu-icon:checked ~ nav.menu-responsive ul.lang-nav li:nth-child(1),
.menu-icon:checked ~ nav.menu-responsive ul.lang-nav li:nth-child(2) {
  transition-delay: 1880ms;
}

/* ################################################### */
/* ------------------ HERO SECTION ------------------ */
/* ################################################### */

.container-main .landing-page .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px ;
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  background: url("../src/background.png") no-repeat center center fixed;
  background-size: cover;
}

.container-main .landing-page .hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
}

.container-main .landing-page .hero-section .box-glassmorphism-subheadline {
  color: #fff;
  z-index: 2;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 15px;
  padding: 5px 15px; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container-main .landing-page .hero-section .headline-hero-section {
  color: #fff;
  font-size: 3.7em;
  width: 60%;
  text-align: center;
  z-index: 2;
  font-weight: 600;
}

.container-main .landing-page .hero-section .boxs-advantages {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
  color: #fff;
}

.container-main .landing-page .hero-section .boxs-advantages .child-box-advantage {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 15px;
  padding: 2px 10px; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.container-main .landing-page .hero-section .boxs-advantages .child-box-advantage ion-icon {
  color: var(--blue);
}

.container-main .landing-page .hero-section .boxs-advantages .child-box-advantage .lang-container {
  height: auto;
}

.container-main .landing-page .hero-section .desc-hero-section {
  color: #c2c2c2;
  width: 50%;
  text-align: center;
  z-index: 2;
  font-weight: 300;
}

.container-main .landing-page .hero-section .cta-button {
  z-index: 2;
  background-color: var(--blue);
  border-radius: 15px;
  font-size: 19px;
  padding: 8px 20px;
  cursor: pointer;
  transition: .3s all ease-in-out;
}

.container-main .landing-page .hero-section .cta-button .lang-container {
  height: auto;
}

.container-main .landing-page .hero-section .cta-button a {
  color: var(--dark-blue);
  transition: .3s all ease-in-out;
}

.container-main .landing-page .hero-section .cta-button:hover {
  transform: scale(1.1);
}

.container-main .landing-page .hero-section .cta-button:hover a {
  color: #ffffff;
}

.container-main .landing-page .hero-section .banner-sponsors {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 60px;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: 20px;
}

.container-main .landing-page .hero-section .banner-sponsors::before {
  position: absolute;
  content: "";
  display: block;
  width: 120%;
  height: 100%;
  transform: skew(-30deg);
  border-radius: 20px 0 0 0;
  background-color: #fff;
  z-index: -1;
}

.container-main .landing-page .hero-section .banner-sponsors img {
  height: 30px;
}

@media only screen and (max-width:991px) {
  .container-main .landing-page .hero-section .headline-hero-section {
    width: 80%;
  }
  .container-main .landing-page .hero-section .desc-hero-section {
    width: 70%;
  }
}

@media only screen and (max-width:767px) {
  .container-main .landing-page .hero-section .headline-hero-section {
    width: 90%;
  }
  .container-main .landing-page .hero-section .headline-hero-section {
    font-size: 2.5em;
  }
  .container-main .landing-page .hero-section .desc-hero-section {
    width: 90%;
  }
}

/* ################################################### */
/* ------------ MISE EN PAGE DES SECTIONS ------------ */
/* ################################################### */

.container-main .project-page,
.container-main .members-page,
.container-main .gallery-page,
.container-main .contact-page {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 5px;
  position: relative;
}

/* ################################################### */
/* ------- MISE EN PAGE DES "HEADERS" SECTIONS ------- */
/* ################################################### */

.container-main .category-section {
  margin-top: 30px;
  text-transform: uppercase;
  color: var(--dark-blue);
  position: relative;
  font-weight: 500;
}

.container-main .category-section::after {
  content: "";
  display: block;
  width: 40%;
  height: 3px;
  background-color: #4dafdc;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.container-main .headline-section {
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

.container-main .desc-section {
  font-weight: 200;
  color: #949494;
  width: 60%;
  text-align: center;
}

@media only screen and (max-width:991px) {
  .container-main .desc-section {
    width: 100%;
  }
}

@media only screen and (max-width:767px) {
  .container-main .headline-section {
    font-size: 24px;
}
  .container-main .desc-section {
    font-size: 14px;
    text-align: justify;
  }
}

/* ################################################### */
/* ----------------- MEMBERS SECTION ----------------- */
/* ################################################### */

.container-main .members-page .carousel {
  width: auto;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  overflow: hidden;
  margin-top: 50px;
  /* animation: scroll-left 60s linear infinite; */
}

.container-main .members-page .carousel .carousel-item {
  aspect-ratio: 4/5;
  width: calc(100% / 4);
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.container-main .members-page .carousel .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 40%;
  border-radius: 20px;
  filter: grayscale(1);
  transition: .2s all ease-in-out;
}

.container-main .members-page .carousel .carousel-item img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.container-main .members-page .carousel .box-carousel-item {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 2px;
}

.container-main .members-page .carousel .box-carousel-item p {
  font-size: 18px;
}

.container-main .members-page .carousel .box-carousel-item span {
  color: #656565;
}

@media only screen and (max-width:767px) {
  .container-main .members-page .carousel {
    margin-top: 30px;
  }
}

/* ################################################### */
/* ----------------- GALLERY SECTION ----------------- */
/* ################################################### */

.container-main .gallery-page {
  background-color: var(--blue);
}

.container-main .gallery-page::before,
.container-main .gallery-page::after {
  content: "";
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  background-color: var(--blue);
  z-index: 1;
}

.container-main .gallery-page::before {
  left: -40px;
}

.container-main .gallery-page::after {
  right: -40px;
}

.container-main .gallery-page svg {
  position: absolute;
  top: 0;
  left: -40px;
  width: calc(100% + 80px);
  z-index: 2;
}

/* ################################################### */
/* ----------------- CONTACT SECTION ----------------- */
/* ################################################### */

.container-main .contact-page svg {
  position: absolute;
  top: 0;
  left: -40px;
  width: calc(100% + 80px);
}

/* ################################################### */
/* --------------------- FOOTER ---------------------- */
/* ################################################### */

footer {
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: var(--dark-blue);
  padding: 40px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 20px;
}

footer p {
  color: #fff;
}

footer .top-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

footer .top-footer img {
  width: 40px;
}

footer .top-footer p {
  font-size: 18px;
}

footer .legal-terms-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

footer .legal-terms-footer .links-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
}

footer .legal-terms-footer .links-footer .lang-container {
  height: auto;
  width: auto;
}

footer .legal-terms-footer .links-footer .lang-container a {
  white-space : nowrap;
  text-align: left;
}

footer .legal-terms-footer .links-footer a,
footer .legal-terms-footer .credits-footer {
  color: #ecebeb;
  font-weight: 300;
}

footer .legal-terms-footer .links-footer a {
  cursor: pointer;
}

@media only screen and (max-width:767px) {
  footer .legal-terms-footer {
    flex-direction: column;
    gap: 20px;
  }
  footer .legal-terms-footer .links-footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}